.footer {
  background-color: #d6d3c8;
  padding: 40px 0;
}

.footer-container {
  max-width: 960px;
  /* Está aplicando auto no left e right, fazendo com que o elemento fique centralizado. */
  margin: 0 auto;
}

/* Quando todos os elementos filhos de .footer-container são flutuados, o elemento pai não tem mais altura, sendo assim sendo necessário limpar os floats, utilizando o clearfix. */
.footer-container::after,
.footer-container::before {
  content: "";
  display: table;
  clear: both;
}

.footer p {
  /* O float left está sendo aplicado para que o texto fique ao lado da imagem. */
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}

.footer img {
  /* O float left está sendo aplicado para que a imagem fique ao lado do texto. */
  float: right;
  margin: 0 10px;
}

@media (max-width: 739px) {
  .footer-container {
    max-width: 300px;
  }

  .footer p {
    float: none;
    margin: 0;
  }

  .footer img {
    float: none;
    margin: 20px 0;
  }
}
