.intro {
  background: url("../../assets/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: "";
  /* O display block está sendo usado para que o elemento ocupe a linha inteira. */
  display: block;
  width: 20px;
  height: 4px;
  background-color: #fff;
  /* Está aplicando auto no left e right, fazendo com que o elemento fique centralizado. */
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

@media (max-width: 739px) {
  .intro {
    padding: 60px 0;
  }
}
