.menu {
  background-color: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  /* Está aplicando auto no left e right, fazendo com que o elemento fique centralizado. */
  margin: 0 auto;
}

/* Está aplicando o clearfix para que os elementos filhos do menu-container não fiquem flutuando e assim o container não tenha altura 0. */
.menu-container::after,
.menu-container::before {
  content: "";
  display: table;
  clear: both;
}

.menu-logo {
  /* O display block está sendo usado para que o elemento ocupe toda a largura disponível do container(o menu-container). */
  display: block;
  /* O float está sendo usado para que o elemento vá para a esquerda e o próximo elemento(o menu-nav) fique ao lado dele. */
  float: left;
  margin-left: 10px;
}

.menu-nav {
  /* O float está sendo usado para que o elemento vá para a direita e o próximo elemento(o menu-logo) fique ao lado dele. */
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  /* O display inline-block está sendo usado para que os elementos fiquem em linha/inline(um do lado do outro) e que possam ocupar somente o espaço necessário(block). */
  display: inline-block;
}

.menu-nav a {
  /* O display block está sendo usado para que o elemento ocupe toda a largura disponível do container(o menu-nav). */
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125em;
}

@media (max-width: 739px) {
  .menu {
    text-align: center;
  }

  .menu-logo {
    float: none;
    /* Está aplicando auto no left e right, fazendo com que o elemento fique centralizado. */
    margin: 0 auto;
  }

  .menu-logo img {
    display: initial;
  }

  .menu-nav {
    /* Está limpando o float para que o elemento não fique flutuando e assim o próximo elemento(menu-logo) fique abaixo dele. */
    float: none;
    /* O clear está sendo usado para que o elemento não fique ao lado do elemento anterior(menu-logo). */
    clear: both;
  }
}
