body {
  font-family: Georgia, serif;
  color: #252525;
  background-color: #e7e4d8;
}

img {
  display: block;
  max-width: 100%;
}

/* Quando todos os elementos filhos de .container são flutuados, o elemento pai não tem mais altura, sendo assim sendo necessário limpar os floats, utilizando o clearfix. */
.container::after,
.container::before {
  content: "";
  display: table;
  clear: both;
}
