.about h2 {
	font-size: 2.25em;
}

.about-item h3 {
	font-size: 2.25em;
	line-height: 1em;
	background: #252525;
	color: #fff;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	position: relative;
}

.about > p {
	font-size: 1.125em;
	line-height: 1.4em;
	font-style: italic;
}